/* Trees Image - Pexels: https://www.pexels.com/photo/photo-of-trees-in-forest-3801030/ */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  box-sizing: border-box;
  font-size: 63.5%;
}

:root {
  --column-1: #a2622d;
  --column-2: #0562ec;
  --column-3: #1b6161;
  --column-4: #a22d22;
}

body {
  margin: 0;
  background: url("./background.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  color: white;
  font-family: Quicksand, sans-serif;
  position: static;
}

h1 {
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 2rem;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/* Columns */
.drag-column {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  /* overflow-x: visible; */
  /* overflow-y: scroll; */
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
  background-color: var(--column-1);
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
  background-color: var(--column-2);
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
  background-color: var(--column-3);
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
  background-color: var(--column-4);
}

/* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 50vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.5rem;
}

.custom-scroll::-webkit-scrollbar {
  width: 1rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
}

.header h1 {
  font-size: 1.25rem;
  color: white;
}

/* Delete icon */
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4px;
}

.icon-edit,
.icon-delete {
  min-height: 1.7rem;
  min-width: 1.7rem;
  max-height: 1.7rem;
  max-width: 1.7rem;
  transition: all 0.3s;
}

.icon-submit {
  min-height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  transition: all 0.3s;
  color: #1a8686;
}

.icon-submit:hover {
  transform: scale(1.4);
}

.icon-edit:hover {
  color: #1a8686;
  transform: scale(1.4);
}
.icon-delete:hover {
  color: #a22d22;
  transform: scale(1.4);
}

/* Drag and Drop */
.over {
  padding-top: 1rem;
  padding-bottom: 3px;
}

.drag-item-list {
  min-height: 5rem;
  transition: all 0.2s;
}

.drag-item {
  margin: 1rem;
  padding: 1rem;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-item {
  display: block;
  width: 80%;
  height: fit-content;
}
.text-item:focus {
  background-color: #79757546;
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.438);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.active-touch {
  background-color: #1a8686;
}

.drag-item:focus {
  outline: none;
  background-color: white;
  color: black;
}

/* Add Button Group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
  user-select: none;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.add-container {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 1rem;
  display: none;
}

.add-item {
  width: 90%;
  min-height: 1rem;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  margin: 0.5rem auto;
  resize: none;
  color: black;
  padding: 1rem;
}

.add-item:focus {
  outline: none;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

/* Media Query: Laptop */
@media screen and (max-width: 112.5em) {
  .main-title {
    font-size: 2rem;
  }
}

/*Media Tablet  */
@media screen and (max-width: 53.75em) {
  body {
    overflow-y: auto;
  }

  .drag-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .custom-scroll {
    max-height: 19vh;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 37.5em) {
  body {
    overflow-y: auto;
    background: url("./background-min.jpg");
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: block;
  }

  .drag-column {
    margin: 1rem;
  }
}
